a, 
.navMenu > li.current > a,
.navMenu > li > a:hover,
.navMenu > li.sfHover > a,
.navMenu > li.current > a,
.progress-skill-bar .lable,
.accordion-heading .accordion-toggle.active,
.accordion-heading .accordion-toggle:hover,
.mail > a, .web > a, .follow > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.servContent:hover h4, 
.bottom-icons li a:hover,
.newsDetil span a{ 
	color: #7c4199 !important;
}

.list_carousel ul li h5:hover,
.colDefault, .divider .icon,
.view span.zoom{
	color: #60ba45;
}

.navMenu > li > a, .nav-tabs > li > a,  .myTeam .photoTeam .socialTeam ul li a:hover, span.tweet_text a:hover, .mail > a:hover, .web > a:hover, .follow > a:hover, .newsDetil span a:hover{
	color: #2c3e50 !important;
}

.testio > a:hover{
	color: #lime;
}

li.backLava{
	border-bottom: 3px solid #7c4199; }
li.backLava:before {
	border-bottom-color: #7c4199;
}

.btn.btn-primary,
.blogs a.icon.zoom,
.pagination ul li > a:hover,
.pagination ul li > span:hover,
.pagination ul li > a :focus,
.pagination ul li > span :focus,
.tp-caption.plasma_def,
.myTeam .photoTeam .socialTeam ul,
.list_item:hover .portfolio_details {
    background-color: #7c4199 !important;
}

.titleContent h6 span, .contact_info.span6 h6 span {
    border-bottom: 3px solid #7c4199 !important;
}

/*AQUI ABAJO ESTÃN LOS CLIENTES*/
.progress .bar, .default, .myTeam .profPeople:hover .info, .myTeam .photo .socialTeam ul, list_item:hover .portfolio_details {
    background: none repeat scroll 0 0 #edf0f1 !important;
	color: #2c3e50;
}
#filter li.selected a, #filter li a:hover {
    background-color: #cc4a9a !important;
    border: 1px solid #CD499a !important;
}
.descSubscribe i {
    color: #8e44ad;
}

.btn.btn-primary:hover{
  background-color: #A66BBF !important; 
}
.myTeam .photoTeam .socialTeam ul li a, .accordion-heading .accordion-toggle, .btn, .testio > a, #filter li.selected a, #filter li a:hover, .descSubscribe > h5, .descSubscribe > p, .pagination ul li > a, .pagination ul li > span{
	color: #fff !important

}
span.tweet_text a{
	color: #ecf0f1 !important
}
.bottom-icons li a{
	color: #bdc3c7 !important;
}
.blogs a.icon.zoom:hover{
	background-color: #fff !important;
}
.newsDetil span a{
	color: #95a5a6 !important;
}

botoncat{
	background: #edf0f1;
	width: 100px;
	border: 0px;
}

.botoncat:hover{
	background: #7c4199;
	color: white;
}

.menuitem2:hover{
	background-color: #7c499a;
	color: white;
}

a:link{
	text-decoration: none;
	color: #7c499a;
}

/* visited link */
a:visited {
    color: #7c499a;
}

/* mouse over link */
a:hover {
    color: #7c499a;
}

/* selected link */
a:active {
    color: #7c499a;
}

/*-------------------------------------*/

.fotos{
    vertical-align: bottom;
    position: relative;
    float: left;
    border: 0px solid #f00;
    margin: 5px;
    height: 200px;
    width: 150px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 9px;
}

.fotos:hover{
    opacity: .85;
}

.fotos span {
   position: absolute;
   bottom: 10px;
}

/*-----------------------------------------------*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-nov-2014, 14:58:15
    Author     : joseluisrosasbaza
*/


.fotos{
    vertical-align: bottom;
    position: relative;
    float: left;
    border: 0px solid #f00;
    margin: 5px;
    height: 200px;
    width: 150px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 9px;
}

.fotos:hover{
    opacity: .85;
}

.fotos span {
   position: absolute;
   bottom: 10px;
}

/*-----------------------------------------------*/

.wraper2{
    background-color: #eee;
    position: relative;
    float: left;
    width: 180px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
}

.wraper2:hover{
    opacity: .85;
}

.wraper2 span{
    position: absolute;
    bottom: 10px;
}

.wraper2 .label{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    height: 35px;
    box-shadow: 0px -1px 5px #666;
    font-size: 12px;
    width: 78%;
}

.details{
    position: relative;
    clear: both;
    width: 100%;
    background: #ddd;
}

.details .icon{
    opacity: 1;
    height: 140px;
    width: 230px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.details .label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #7c499a;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    width: 100px;
    height: 80px;
    text-align: center;
}

.details .categories{
    position: absolute;
    left: 230px;
    top: 0px;
    right: 0;
    bottom: 0;
    padding: 30px;
}

.categoriesButton{
    position: relative;
    float: left;
    width: 150px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    background-color: #7c499a;
    color: white;
    font-family: sans-serif;
    vertical-align: middle;
    margin: 5px;
    display: inline-block;
    border-bottom: #61bb46 solid 5px;
}

.categoriesButton span{
    display:inline-block; 
    vertical-align:middle;
}

.categoriesButton:hover{
    opacity: .9;
}


a link{
    text-decoration: none;
}